<ion-view view-title="Prendre une photo">
    <ion-content class="padding">
        <button class="change" ng-click="startCamera()">Changer de photo</button>
        <div class="picture">
            <img src="{{photo.uri}}" />
        </div>
        <div class="textarea">
            <textarea placeholder="Commentaire (optionnel)" ng-model="photo.comment"></textarea>
        </div>
        <div class="send">
            <button ng-click="send()" ng-show="sendVisible">Send</button>
            <img src="img/ajax-loader.gif" ng-show="loaderVisible" />
            <p ng-show="confirmationVisible">Photo envoyée, merci.</p>
            <p ng-show="errorVisible">Erreur dans l'envoi.</p>
        </div>
    </ion-content>
</ion-view>
